<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">{{#link-to 'index'}}myApp!{{/link-to}}</a>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-brand">{{#link-to 'todo'}}ToDos!{{/link-to}}</a>
      </li>
  </ul>
</nav>
<h1>yo</h1>
<h1>Hello</h1>

{{outlet}}