<h3 align="center">ToDos!</h3><br>
<div class="row">
    <div class="col-md-6" align="right">
    <form {{action 'submitAction' on='submit'}}>
    <div class="form-group">
        <p>
        <h5>Task :  {{input type='text' value=task}} </h5>
        </p>
    </div>
    <p>
        <button class="btn btn-primary" type="submit">Submit</button>
    </p>
    </form>
    </div>
    <div class="col-md-6">
        <TodosComp @tasks={{model}} />
    </div>
</div>